@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700|Oswald');

$backgroundDescription:green;
$headerFont: 'Oswald';
$contentFont:'Lato';

$titleColor: #fafafa;
$contentColor: #ccc;
$headers: #00FC87;

.DescriptionContainer {
	background:none;
	color:white;  
  h3 {
  	margin-top:3vh;
		color:$headers;
		font-family: $headerFont;
  }
  p {
  	font-family: $contentFont;
  	color:$contentColor;
  }
}

.TrailerButton {
  border:1px solid $headers;
  background: none;
  border-radius: 2vw;
  padding: 0.3vw 1.5vw;
  &:hover {
  	color:$headers;
  	border: 1px solid $headers;
  }

}

.HeaderContainer {
	
	h1 {
		color:$titleColor;
		font-family: $headerFont;
	}
}

.StatsContainer {
	margin-top:1vw;
	margin-right:1vw;
	.col-lg-6 {
		margin:0.5vw 0vw;
		font-family:$headerFont;
		color:$headers;
		line-height: 1.5vh;
		h4 {
			margin:0;
		}
	}

	span {
    color:$contentColor;
    font-family:$contentFont;
	}

}

.PosterContainer {
	padding:0;
}