.DescriptionContainer {
  background: none;
  height: 70vh;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  justify-content: space-around; }
  .DescriptionContainer h3 {
    margin: 0; }
  .DescriptionContainer p {
    margin: 0; }

.TrailerButton {
  margin-left: 29vw;
  width: 10vw; }
