.trailer {
  position: absolute;
  z-index: 300; }
  .trailer iframe {
    width: 73vh;
    height: 51vh;
    border: none; }

.closeButton {
  width: 2vw;
  margin-bottom: 1vh;
  outline: none;
  border: 2px solid #00FC87;
  color: #00FC87;
  background: #fafafa;
  border-radius: 2px; }

.CardContainer {
  background: rgba(0, 0, 0, 0.85); }

.gridContainer {
  background: rgba(0, 0, 0, 0.85);
  padding: 0; }
