
$green: #00FC87;
$white: #fafafa;


.movieContent {
  // margin-top: 16vh;
}

.trailer {
  position: absolute;
  z-index: 300;
  // margin-top: 32vh;
  // margin-left: 27vw;
  // display: flex;
  // flex-flow: column;
  // align-items: flex-end;
  iframe {
    width: 73vh;
    height: 51vh;
    border:none;
  }
}

.closeButton {
  width:2vw;
  margin-bottom: 1vh;
  outline:none;
  border:2px solid $green;
  color:$green;
  background:$white;
  border-radius:2px;
}

.CardContainer {
  background:rgba(0,0,0,.85);
}

.gridContainer {
    background:rgba(0,0,0,.85);
    padding:0;
}

