.trailer {
  position: absolute;
  z-index: 300; }
  .trailer iframe {
    width: 73vh;
    height: 51vh;
    border: none; }

.closeButton {
  width: 2vw;
  margin-bottom: 1vh; }

.CardContainer {
  background: rgba(0, 0, 0, 0.85); }

.gridContainer {
  background: rgba(0, 0, 0, 0.85);
  padding: 0; }
